In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [4]:
df = pd.read_csv('Mumbai1.csv')
df.rename(columns = {'Unnamed: 0':'ID'}, inplace = True)

In [5]:
df.head()

,ID,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [8]:
df_norm = df.copy()

## Проверка на наличие нетипичных значений в стоблцах

In [9]:
df_norm["Location"].unique()

array(['Kharghar', 'Sector-13 Kharghar', 'Sector 18 Kharghar',
       'Sector 20 Kharghar', 'Sector 15 Kharghar', 'Dombivali',
       'Churchgate', 'Prabhadevi', 'Jogeshwari West', 'Kalyan East',
       'Malad East', 'Virar East', 'Virar', 'Malad West', 'Borivali East',
       'Mira Road East', 'Goregaon West', 'Kandivali West',
       'Borivali West', 'Kandivali East', 'Andheri East', 'Goregaon East',
       'Wadala', 'Ulwe', 'Dahisar', 'kandivali', 'Goregaon',
       'Bhandup West', 'thakur village kandivali east', 'Santacruz West',
       'Kanjurmarg', 'I C Colony', 'Dahisar W', 'Marol', 'Parel',
       'Lower Parel', 'Worli', 'Jogeshwari East', 'Chembur Shell Colony',
       'Central Avenue', 'Chembur East', 'Diamond Market Road', 'Mulund',
       'Nalasopara West', 'raheja vihar', 'Powai Lake', 'MHADA Colony 20',
       'Tolaram Colony', 'Taloja', 'Thane West', 'Vangani',
       'Sector 5 Ulwe', 'Sector12 New Panvel', 'Sector 17 Ulwe',
       'Sector9 Kamothe', 'Sector 19 Kharghar', 'Navi Basti',
       'Sector12 Kamothe', 'Sector 21 Kamothe', 'Rutu Enclave',
       'taloja panchanand', 'Virar West', 'Chembur', 'Sector 20 Kamothe',
       'Sector 22 Kamothe', 'Sector 18 Kamothe', 'Sector-5 Kamothe',
       'Sector-6A Kamothe', 'Sector 11 Kamothe', 'Sector-18 Ulwe',
       'Sector-12 Kamothe', 'azad nagar', 'Sindhi Society Chembur',
       'Kurla', 'Sahkar Nagar', 'Deonar', 'Thane', 'Jankalyan Nagar',
       'Badlapur', 'Ambarnath', 'Ambernath West', 'Vakola', 'Kamothe',
       'Kamothe Sector 16', 'Almeida Park', 'Khar', 'Bandra West',
       'Pali Hill', '15th Road', 'Palghar', 'Sector13 Kharghar',
       'Sector 21 Kharghar', 'Sector 12 Kharghar', 'Vivek Vidyalaya Marg',
       'Vasai east', 'Nahur', 'Badlapur West', 'Panvel', 'Kalyan',
       'Badlapur East', 'Mira Bhayandar', 'Juhu', 'Naigaon East',
       'Sector 21 Ulwe', 'Bandra East', 'Dronagiri', 'Nerul', 'Karanjade',
       'Sanpada', 'Sector-8 Ulwe', 'Sector-3 Ulwe', 'Sector 23 Ulwe',
       'ULWE SECTOR 19', 'Ghodbunder Road', 'Bhiwandi', 'Vasai',
       'Nala Sopara', 'Dadar East', 'Ghatkopar', 'Breach Candy',
       'Worli South Mumbai', 'Asangaon', 'Koparkhairane Station Road',
       'Kopar Khairane Sector 19A', 'Koper Khairane',
       'Eastern Express Highway Vikhroli', 'Magathane', 'Rawal Pada',
       'Ambernath East', 'Dokali Pada', 'Dattapada', 'Rajendra Nagar',
       'Kulupwadi', 'Samata Nagar Thakur Village', 'Mira Road and Beyond',
       'West Amardeep Colony', 'Pant Nagar', 'mumbai', 'Four Bungalows',
       'no 9', 'kolshet', 'Hiranandani Meadows', 'Kalpataru', 'Petali',
       'Kharghar Sector 34C', 'Ghatkopar East',
       'Mumbai Agra National Highway', 'vasant vihar thane west',
       'Kalyan West', 'Shirgaon', 'Pokhran 2', 'juhu tara', 'Peddar Road',
       'Palm Beach', 'Sector 10', 'Sector 19 Kamothe', 'Tilak Nagar',
       'Ghatkopar West', 'Tardeo', 'Napeansea Road', 'Mahalaxmi',
       'Dahisar West', 'Mulund West', 'Natakwala Lane', 'Link Road',
       'Devidas Cross Lane', 'Soniwadi Road', 'Haridas Nagar', 'Shimpoli',
       'TPS Road', 'Off Shimpoli road', 'Rustomjee Global City',
       'Sunil Nagar', 'Sector 30 Kharghar', 'Sector 12 A', 'Sector 18',
       'Sector13 Khanda Colony', 'Sector16 Airoli', 'Ranjanpada',
       'Sector 15', 'Sector 35G', 'Sector 5', 'Sector 35I Kharghar',
       'Sector35D Kharghar', 'Sector34 A Kharghar', 'Sector 30',
       'Sector 36 Kharghar', 'Sector 11 Belapur', 'Sector-34B Kharghar',
       'Dombivali East', 'Roadpali', 'Sector-50 Seawoods',
       'Mumbai Highway', 'Sector 7 Kharghar', 'Lokhandwala Township',
       'Andheri', 'Andheri West', 'Shastri Nagar', 'Wadala East Wadala',
       'Kalwa', 'PARSIK NAGAR', 'Maharashtra Nagar', 'Patlipada',
       'Belapur', 'Seawoods', 'Majiwada', '4 Bunglows', 'Airoli',
       'Kolshet Road', 'Sector 10 Khanda Colony', 'Pokharan Road',
       'Kharegaon', 'Panch Pakhadi', 'Sector 36 Kamothe',
       'Dombivli (West)', 'DN Nagar Road', 'Godrej Hill', 'Ganesh Nagar',
       'Haware City', 'Mahatma Gandhi Road', 'Akurli Nagar',
       'Kasar vadavali', 'Vasai West', 'Mumbai Nashik Expressway',
       'Katrap', 'Mira Road', 'Kasheli',
       'Western Express Highway Kandivali East', 'Vasind', 'KASHELI',
       'Thakurli', 'Shakti Nagar', 'Bhayandar East', 'Dahisar East',
       'ulhasnagar 4', 'Sector-26 Taloja', 'Koproli', 'Mumbai Central',
       'Greater Khanda', 'link road borivali west', 'Manpada',
       'Sector 2 Ulwe', 'Govind nagar', 'Krishanlal Marwah Marg',
       'Sector-9 Ulwe', 'Vikhroli', 'Kalamboli', 'Lokhandwala',
       'Patel Nagar', 'Yari Road', 'Thakur complex', 'Khar West',
       'Sector 11 Kharghar', 'Ghansoli', 'Sector8 Sanpada',
       'Jeejamata Nagar', 'Pandurangwadi', 'Shreyas Colony',
       'Kannamwar Nagar II', 'gokuldham', 'Bangur Nagar',
       'Shivaji Colony', 'Jawahar Nagar', 'Vedant Complex', 'Titwala',
       'Manvel pada Road', 'Govandi', 'Shilphata Road Thane',
       'Vasant Vihar', 'Thakur Village', 'Samata nagar', 'Wadi Bandar',
       'Kapurbawadi', 'Thane Belapur Road Kalwa', 'Suburbs Mumbai',
       'Ramdev Park', 'Sector-35 Kamothe',
       'Sector 58A Seawoods Navi Mumbai', 'Diva', 'Borivali',
       'Gundavali Gaothan', 'Kondivita Road', 'Koldongri', 'Saki Naka',
       'Bhayandar West', 'Versova', 'Hanuman Nagar', 'worli sea face ',
       'Sea Face', 'Shiv Sagar Estate', 'Grant Road West', 'Sriprastha',
       'Off Nepean Sea Road', 'Morya Nagar', 'Upper Worli',
       'worli sea Fase', 'Powai', 'Agripada', 'Sion', 'Girgaon',
       'IT Colony', 'Bhayandarpada', 'Sector-24 Kamothe', 'Phase 2',
       'Sector 6', 'Malad', 'Haji Ali', 'Majiwada thane', 'Yogi Hills',
       'Sector 19 Nerul', 'Owale', 'MG Road', 'roadpali navimumbai',
       'Taloja Bypass Nitalas Link Road', 'Rasayani', 'Sector 10 Kamothe',
       'kavesar', 'Kopara', 'royal palms goregaon east', 'Dadar West',
       'vrindavan society', 'CBD Belapur East', 'Parel Village',
       'Karave Nagar', 'Sector 19A Nerul', 'Antop Hill', 'Suman Nagar',
       'Bhakti Park', 'Hanuman Chowk', 'Willingdon', 'VishnuNagar',
       'Vichumbe', 'Vashi', 'Poonam Sagar Complex', 'Santacruz East',
       'Mulund East', 'Sector-8 Sanpada', 'Sector-9 Ghansoli', 'Balkum',
       'Hiranandani Estates', 'Vartak Nagar', 'Charkop', 'dhanukarwadi',
       'Vazira', 'Four Bunglows', 'Palava',
       'Oshiwara Police Station Road', 'Seven Bunglow', 'Poddar Road',
       'Gulmohar Road', 'Vile Parle E', 'Pokhran Road No 2',
       'Sainath Nagar', 'Kapur Bawdi', 'Manpada near Tiku ji ni wadi',
       'Kolshet Industrial Area', 'Sector16 Ulwe',
       'Anand Nagar Thane West', 'Charkop Sector 8', 'Vile Parle',
       'Marine Lines', 'Bandra Kurla Complex', 'sec 50 new',
       'Vakola Pipeline Road', 'Neral', 'Shil Phata', 'Ville Parle East',
       'matunga east', 'Dharavi', 'vile parle west', 'Anjurdive', 'Uran',
       'Boisar', 'Kanjurmarg East', 'Kurla West', 'Sewri', 'Matunga',
       'Goregaon (East)', 'Malabar Hill', 'Ambivali', 'Nalasopara East',
       'Vijay Nagar', 'Chedda Nagar', 'Kurla East', 'Kharodi',
       'Ville Parle West', 'Vikhroli West', 'Wadala East', 'Palidevad',
       'Vikroli East', 'Mahim', 'Khalapur', 'Karjat', 'Vitthalwadi',
       'Bhoiwada Kalyan', 'Beturkar Pada', 'Ambivli', 'Nilje Gaon',
       'Khopoli', 'Taloje', 'Gulal Wadi', 'Tilak Nagar Mumbai',
       'Chandivali', 'Nere', 'Kewale', 'Sector 9 Airoli', 'Diva Gaon',
       'Sen Nagar', 'Adaigaon', 'Syndicate', 'Gandhar Nagar', 'Byculla',
       'Padle Gaon'], dtype=object)

In [10]:
df_norm["No. of Bedrooms"].unique()

array([1, 4, 3, 2, 5, 6, 7], dtype=int64)

In [11]:
df_norm["New/Resale"].unique()

array([0, 1], dtype=int64)

In [12]:
df_norm["Gymnasium"].unique()

array([0, 1], dtype=int64)

In [13]:
df_norm["Lift Available"].unique()

array([1, 0], dtype=int64)

In [14]:
df_norm["Car Parking"].unique()

array([1, 0], dtype=int64)

In [15]:
df_norm["Maintenance Staff"].unique()

array([1, 0], dtype=int64)

In [16]:
df_norm["24x7 Security"].unique()

array([1, 0], dtype=int64)

In [17]:
df_norm["Children's Play Area"].unique()

array([0, 1], dtype=int64)

In [18]:
df_norm["Clubhouse"].unique()

array([0, 1], dtype=int64)

In [19]:
df_norm["Intercom"].unique()

array([0, 1], dtype=int64)

In [20]:
df_norm["Landscaped Gardens"].unique()

array([0, 1], dtype=int64)

In [21]:
df_norm["Indoor Games"].unique()

array([0, 1], dtype=int64)

In [22]:
df_norm["Gas Connection"].unique()

array([0, 1], dtype=int64)

In [23]:
df_norm["Jogging Track"].unique()

array([0, 1], dtype=int64)

In [24]:
df_norm["Swimming Pool"].unique()

array([0, 1], dtype=int64)

## Проверка наличия пустых значений в стобцах

In [25]:
cols = list(df.columns)
cols

['ID',
 'Price',
 'Area',
 'Location',
 'No. of Bedrooms',
 'New/Resale',
 'Gymnasium',
 'Lift Available',
 'Car Parking',
 'Maintenance Staff',
 '24x7 Security',
 "Children's Play Area",
 'Clubhouse',
 'Intercom',
 'Landscaped Gardens',
 'Indoor Games',
 'Gas Connection',
 'Jogging Track',
 'Swimming Pool']

In [26]:
df_na = {col: list(pd.isna(df[col])).count(True) for col in cols}
df_na

{'ID': 0,
 'Price': 0,
 'Area': 0,
 'Location': 0,
 'No. of Bedrooms': 0,
 'New/Resale': 0,
 'Gymnasium': 0,
 'Lift Available': 0,
 'Car Parking': 0,
 'Maintenance Staff': 0,
 '24x7 Security': 0,
 "Children's Play Area": 0,
 'Clubhouse': 0,
 'Intercom': 0,
 'Landscaped Gardens': 0,
 'Indoor Games': 0,
 'Gas Connection': 0,
 'Jogging Track': 0,
 'Swimming Pool': 0}